# Example 1

---
title: "Example"
format: html
---

In [1]:
import apifoncier.ind_conso_espace as conso

conso.communes(code_insee=["59350"])

https://apidf-preprod.cerema.fr/indicateurs/conso_espace/communes/59350/: 100%|██████████| 12/12 [00:00<?, ?it/s]

,annee,idcom,idcomtxt,naf_arti,conso_act,conso_hab,conso_mix,conso_inc
0,2009,59350,Lille,36395,26159,6627,3608,1
1,2010,59350,Lille,36395,26159,6627,3609,0
2,2011,59350,Lille,1506,0,1506,0,0
3,2012,59350,Lille,70926,68418,2503,4,1
4,2013,59350,Lille,2094,1802,292,0,0
5,2014,59350,Lille,9949,5668,4281,0,0
6,2015,59350,Lille,106,0,106,0,0
7,2016,59350,Lille,3732,3635,97,0,0
8,2017,59350,Lille,0,0,0,0,0
9,2018,59350,Lille,5362,4783,579,0,0
10,2019,59350,Lille,5238,1498,3740,0,0
11,2020,59350,Lille,932,0,932,0,0